@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffd518;
    color: rgb(0, 0, 0);
    line-height: 2rem;
}

/* Logo */
.img-logo {
    width: 50px;
    height: auto;
    margin-bottom: 2rem;
}

.mail-title {
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.mail-title-light {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: black;
}

/* Form Styling */
.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

input[type="text"], input[type="password"] {
    background-color: transparent;
    padding: 1.3rem;
    border: none;
    border-bottom: 2px solid #000000ae;
    font-size: 1.3rem;
    transition: ease-in 0.5s;
    color: black;
    width: 100%;
}

input:focus {
    border-bottom: 4px solid #000;
}

::placeholder {
    color: #000000ae;
    line-height: 2rem;
}

/* Submit Button */
.submit-form {
    margin-top: 1.5rem;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.146);
    border: none;
    border-radius: 0.357rem;
    transition: ease-in 0.5s;
    cursor: pointer;
}

.submit-form:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.forgot-password {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.hide {
    visibility: hidden;
}

/* Password Icon */
.password-container {
    width: 100%;
    position: relative;
}

.password-icon {
    position: absolute;
    top: 35px;
    right: 15px;
    cursor: pointer;
    color: #000000ae;
    font-size: 25px;
}

/* General Container */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

/* Desktop View */
@media screen and (min-width: 900px) {
    .container {
        width: 35%;
        padding: 30px 0;
    }
}
